<!DOCTYPE HTML>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="js/bootstrap.min.js"></script>
<html>
<head><title>Attendance</title></head>

<body>
<div class="container">
	<h1>Total Hours:</h1> <br><br>
	<table border="1">
		<tr>
			<td> Date</td>
			<td> Time in</td>
			<td> Time out</td>
			<td> Hours Logged</td>
		</tr>
		<tr>
			<td> September 25, 2018</td>
			<td> 3:00 pm</td>
			<td> 4:00 pm</td>
			<td> 1:00</td>
		</tr>
		<tr>
			<td> September 26,2018</td>
			<td> 3:03 pm</td>
			<td> 4:02 pm</td>
			<td> 0:59</td>
		</tr>
	</table>
	<br><br>
	<a href="dashboard.html">Back</a>
</div>
</body>

</html>