<div class="container-fluid" align=center>
	<div>
		Record Attendance<br>
		<form action="/student/time" method="post">
			<input type="text" name="name" placeholder="Name"><br>
			<input type="text" name="number" placeholder="Student Number"><br>
			Date and Time In:<br>
			<input type="datetime-local" name="timein"></input><br>
			Date and Time Out:<br>
			<input type="datetime-local" name="timeout"></input><br>
			<button type="submit" id="login">Record Attendance</button>
		</form>
	</div>
	<br>
	<div>
		View Attendance<br>
		<form action="/student" method="post">
			<input type="text" name="name" placeholder="Name"><br>
			<input type="text" name="number" placeholder="Student Number"><br>
			<button type="submit" value="Submit">Record Attendance</button>
		</form>
	</div>
</div>