<!DOCTYPE HTML>

<html> 

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="js/bootstrap.min.js"></script>

<head>
	<title> Home Page </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body> 

<div class="container" align="center">
	<h1> Login </h1>
	<p> Please enter your XSMail and password </p>
	<form action="/login" method="post"> 
		<input type="text" name="email" placeholder="Email"><br>
		<input type="password" name="password" placeholder="Password"><br>
		<button type="submit" id="login">Login</button>
	</form>
	<br>
	<a href="/register">Register</a>
</div>

</body> 


</html>