<div class="container" align="center">
	<h1> Login </h1>
	<p> Please enter your XSMail and password </p>
	<form action="/login" method="post"> 
		<input type="text" name="username" placeholder="XSMail"><br>
		<input type="password" name="password" placeholder="Password"><br>
		<button type="submit" id="login">Login</button>
	</form>
	<br>
	
</div>
