<!DOCTYPE HTML>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="js/bootstrap.min.js"></script>
<html> 
<head><title>Home</title></head> 

<body>

<div class="container" align="center">
	<h1>Hello: Kirby! Today is {Date}</h1><br>
	<h1>
	<form>
		<button type="submit">Time in</button>
		<button type="submit">Time out</button>
	</form>
	</h1><br>

	Total Hours:
	<br>

	You need X hours more to get a V Club Grade<br>

	<a href ="attendance.html">View your complete attendance</a><br>
	<a href ="officerview.html">Officer View</a>

</div>




</body> 

</html>