<!DOCTYPE HTML>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="js/bootstrap.min.js"></script>
<html>
<head><title>Attendance</title></head> 

<body>
<div class="container">
	<h2> Pending Times: </h2> <br>
	<div class="row">
		<div class="col-sm-9">
			<table border="1">
				<tr>
				<tr>
					<td> Name</td>
					<td> Date</td>
					<td> Time in</td>
					<td> Time out</td>
					<td> Hours Logged</td>
				</tr>
				<tr>
					<td> Cobbie Chua </td>
					<td> September 25, 2018</td>
					<td> 3:00 pm</td>
					<td> 4:00 pm</td>
					<td> 1:00</td>
					<td> <button type="submit">Verify</button> </td>
					<td> <button type="submit">Edit</button> </td>
				</tr>
				<tr>
					<td> Chino Acero </td>
					<td> September 25, 2018</td>
					<td> 3:03 pm</td>
					<td> 4:00 pm</td>
					<td> 0:57</td>
					<td> <button type="submit">Verify</button> </td>
					<td> <button type="submit">Edit</button> </td>
				</tr>
			</table>
		</div>
		<div class="col-sm-3">
			<table border=1>
				<tr><td><button type="submit">Edit</button></td></tr>
				<tr>
					<td> Hours </td>
					<td> Grade </td>
				</tr>
				<tr>
					<td> 1 </td>
					<td> S </td>
				</tr>
				<tr>
					<td> 2 </td>
					<td> G </td>
				</tr>
				<tr>
					<td> 3 </td>
					<td> V </td>
				</tr>
				<tr>
					<td> 4 </td>
					<td> O </td>
				</tr>
			</table>
		</div>
	</div>
	<br><br>
	<a href ="memberlist.html"> View Full Member List</a><br>
	<a href="dashboard.html">Back</a>
</div>
</body>

</html>