<!DOCTYPE HTML>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="js/bootstrap.min.js"></script>

<html> 
<head>
	<title> Registration </title>
</head>

<body> 
<div class="container">
	<h1> Registration </h1> 
	<p> Please enter the following information: </p>
	<form> 
	<input type="text" name="name" placeholder="Name"><br>
	<input type="text" name="section" placeholder="Section"><br>
	<input type="text" name="studentnum" placeholder="Student Number"><br>
	<input type="text" name="email" placeholder="XSMail"><br>
	<input type="password" name="password" placeholder="Password"><br>
	<input type="password" name="password" placeholder="Confirm Password"><br>
	<button type="submit">Register</button>
	</form>
	<a href='/'> Back</a>

</div>


</body> 


</html>