
<div class="container" align="center">
	<h2> Add a new user </h2> 
	<p> Please enter the following information: </p>
	<form> 
	<input type="text" name="name" placeholder="Name"><br>
	<input type="text" name="username" placeholder="XSMail"><br>
	<input type="password" name="password" placeholder="Password"><br>
	<button type="submit">Register</button>
	</form>
	<a href='/'> Back</a>

</div>

